{% extends "_base.html" %}

{% block body %}
<div class="page">
  <div class="row">
    {% block main %}
    <div class="col-content">
      {{doc.content}}
    </div>
    {% endblock %}
    {% block sidebar %}
    <div class="col-sidebar">
      <nav class="sitenav mar-v">
        <h1 class="sitenav-title">
          <a href="{{base_url}}">{{site.title}}</a>
        </h1>
        <div class="sitenav-description">{{site.description}}</div>
        {% include "include/_nav.html" %}
      </nav>
    </div>
    {% endblock %}
  </div>
  {% block footer %}
  <footer class="page-footer">
    {{site.footer_text}}
  </footer>
  {% endblock %}
</div>
{% endblock %}