{% extends "_layout.html" %}

{% block main %}
<div class="col-content">
  <article class="article width-constrain">
    <h1 class="article-title">{{doc.title}}</h1>
    <div class="article-content content">
      {{content}}
    </div>
  </article>
  {% if index.backlink[doc.id_path] | len %}
  <aside class="barlist width-constrain mar-v">
    <h2 class="barlist-title">Who links here?</h2>
    <ul class="barlist-ul">
    {% for li in backlink_index[id_path] | islice(100) %}
      <li class="li">
        <a class="li-title" class="wikilink" href="{{ li.output_path | to_url(base_url) }}">{{li.title}}</a>
      </li>
    {% endfor %}
    </ul>
  </aside>
  {% endif %}
</div>
{% endblock %}